@import "../../../../../../shared-scss-styles/all-scss-imports.scss";

.Board-wrapper {
  height: 100%;
  .content-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 10rem;
    height: 100%;

    @include screen-breakpoints(tablet-portrait) {
      padding-top: 10rem;
      grid-template-columns: repeat(2, 1fr);
    }

    @include screen-breakpoints(tablet-landscape) {
      padding-top: 11rem;
      grid-template-columns: repeat(2, 1fr);
    }

    @include screen-breakpoints(phone) {
      padding-top: 12rem;
      grid-template-columns: repeat(1, 1fr);
    }

    @include screen-breakpoints(desktop) {
      padding-top: 10rem;
    }

    .backlog,
    .inProgress,
    .testing,
    .done {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      padding: 10px;
      border-right: 1px solid #f5f5f5;
      position: relative;
      height: 100%;
      padding-bottom: 5rem;
      // overflow-y: scroll;
      text-transform: capitalize;
      &:last-child {
        border: 0px;
      }

      @include screen-breakpoints(tablet-portrait) {
        padding: 5px;
      }

      .title {
        margin-bottom: 10px;
        .title-text {
          font-size: 1.2rem;
          font-weight: 600;
          color: #333;
        }
      }
    }
  }
}
